.InfoPelicula > * {
    padding: 5rem;
}
@media only screen and (max-width: 40.625em) {
    .InfoPelicula > * {
        padding: 5rem 4rem;
    }
}
@media only screen and (max-width: 25em) {
    .InfoPelicula > * {
        padding: 5rem 2rem;
    }
}

.Cast {
    width: calc(100vw - 18px);
}