.InfoPelicula > * {
    padding: 5rem;
}
@media only screen and (max-width: 40.625em) {
    .InfoPelicula > * {
        padding: 5rem 4rem;
    }
}
@media only screen and (max-width: 25em) {
    .InfoPelicula > * {
        padding: 5rem 2rem;
    }
}

.Cast,
.RecommendedMovies {
    width: calc(100vw - 18px); /* To take on account the scrollbar width when seting vw */
}

.MoviesWrapper {
    white-space: nowrap;
    max-width: calc(100vw - 18px);
    overflow-x: auto;
    overflow-y: hidden;
}