.Navigation {
    position: relative;
}

.Search {
    background-color: #fff;
    position: absolute;
    width: 100%;
    z-index: 100;
    padding: 1rem 2rem;
    animation: showSearch .5s ease-out;
}

@keyframes showSearch {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}