:root {
  --color-background: #121B24;
  --color-gris-oscuro: #292929;
  --color-stars: #303f9f;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  box-sizing: border-box;
  background-color: var(--color-background);
}

.paginas {
  text-align: center;
}

a:link,
a:visited {
  text-decoration: none;
}